[Unit]
Description=Cloudflare Dynamic DNS update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cloudflare-ddns
